{% extends "ductus_document.html" %}
{% load urn %}

{% block javascript %}
$(function () {
    $("ul.picture_choice_lesson").sortable({});
});
$(function () {
    function pcl_object() {
        var questions = [];
        $(".picture_choice_urn").each(function (i) {
            questions.push($(this).attr("title"));
        });
        // fixme: assert that the length of our array is equal to the number
        // of list items in ul.picture_choice_lesson
        return {"questions": questions};
    }
    function pcl_json() { return JSON.stringify(pcl_object()); }
    $("#save_button").click(function () {
        $.post(document.URL, {"pcl": pcl_json()}, function (data) {
            alert("saved");
        });
    });
});
{% endblock %}

{% block content %}
<ul class="picture_choice_lesson">
{% for q in quiz %}
<li>
<span class="picture_choice_urn" title="{{ q.urn }}"></span>
{{ q.phrase.text }}
<img alt="" src="{{ q.correct_picture.href|resolve }}?view=image&amp;max_size=50,50"/>
{% for p in q.incorrect_pictures %}
<img alt="" src="{{ p.href|resolve }}?view=image&amp;max_size=50,50"/>
{% endfor %}
</li>
{% endfor %}
</ul>
<p><a id="save_button">Save</a></p>
{% endblock %}
