{% extends "ductus_document.html" %}

{% block head %}
<script type="text/javascript" src="{{ ductus_media_prefix }}applets/picture/js/picture_selector.js"></script>
{% endblock %}

{% block javascript %}
$(function () {
    $("ul#picture_choice_lesson").sortable({});
});
$(function () {
    function pcl_object() {
        var questions = [];
        $(".picture_choice_urn").each(function (i) {
            questions.push($(this).attr("title"));
        });
        // fixme: assert that the length of our array is equal to the number
        // of list items in #picture_choice_lesson
        return {"questions": questions};
    }
    function pcl_json() { return JSON.stringify(pcl_object()); }
    $("#save_button").click(function () {
        $.post(document.URL, {"pcl": pcl_json()}, function (data) {
            alert("saved");
        });
    });
});
$(function () {
    function load_blank_pc_form () {
        // fixme look up static urls
        $("#builder_form").load("/new/picture_choice", function () {
            connect_picture_widgets();
        });
    }
    load_blank_pc_form();
    $("#builder_form_submit").click(function () {
        $.post("/new/picture_choice", $("#builder form").serialize(), function (data, textStatus) {
            try {
                var new_urns = JSON.parse(data);
                // append them to the ul
                $.get("{{ request.path }}", {"urns": data, "view": "static_li"}, function (data) {
                    $("#picture_choice_lesson").append(data);
                });
                // show the form again
                load_blank_pc_form();
            } catch (e) {
                $("#builder_form").html(data);
            }
        });
    });
});
{% endblock %}

{% block content %}
<ul id="picture_choice_lesson">
{{ quiz_list_items }}
</ul>
<p><a id="save_button">Save</a></p>

<hr/>

<div id="builder">
<form>
<div id="builder_form"></div>
<a id="builder_form_submit">Submit</a>
</form>
</div>
{% endblock %}
