{% extends "ductus_document.html" %}
{% load urn %}

{% block javascript %}
$(function () {
    $("ul.picture_choice_lesson").sortable({});
});
$(function () {
    function json_pcl() {
        var questions = [];
        $(".picture_choice_urn").each(function (i) {
            questions.push($(this).attr("title"));
        });
        return {"questions": questions};
    }
});
{% endblock %}

{% block content %}
<ul class="picture_choice_lesson">
{% for q in quiz %}
<li>
<span class="picture_choice_urn" title="{{ q.urn }}"></span>
{{ q.phrase.text }}
<img alt="" src="{{ q.correct_picture.href|resolve }}?view=image&amp;max_size=50,50"/>
{% for p in q.incorrect_pictures %}
<img alt="" src="{{ p.href|resolve }}?view=image&amp;max_size=50,50"/>
{% endfor %}
</li>
{% endfor %}
</ul>

<h4>Hacked-together form for appending picture_choice's to this lesson</h4>
<form method="POST">
Insert JSON urn list here:<br/>
<textarea name="append_list" rows="5" cols="80"></textarea><br/>
<input type="submit"/>
</form>
{% endblock %}
