{% load urn %}
<div class="ductus_phrase_choice">
  <h2 lang="">{{ object.prompt.text|escape }}</h2>
  <table>
    <tr><td class="phrase_choice_phrase{% ifequal object.phrases.0 object.correct_phrase %} correct{% endifequal %}"><div>{{ object.phrases.0.text }}</div></td><td></td><td class="phrase_choice_phrase{% ifequal object.phrases.1 object.correct_phrase %} correct{% endifequal %}"><div>{{ object.phrases.1.text }}</div></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td class="phrase_choice_phrase{% ifequal object.phrases.2 object.correct_phrase %} correct{% endifequal %}"><div>{{ object.phrases.2.text }}</div></td><td></td><td class="phrase_choice_phrase{% ifequal object.phrases.3 object.correct_phrase %} correct{% endifequal %}"><div>{{ object.phrases.3.text }}</div></td></tr>
  </table>
{% if object.audio %}
  <audio src="{{ object.audio.urn|resolve }}?view=audio" controls autoplay></audio>
{% endif %}
</div>
