# NOTE: still trying to get --add-root to work.  The nix-store man page
# explains it, but doesn't seem to work.  Potentially related:
# https://github.com/NixOS/nix/issues/979#issuecomment-394545910
#
# Also, --indirect is apparently the default now:
# https://github.com/NixOS/nix/commit/19477e8815a7c9b91c82278ec0e22957c97bec16
use nix --pure --add-root gcroot
watch_file shell.nix
watch_file requirements.txt # not completely pure but let's rebuild anyway
export PYTHONPATH=$PWD/python-include:$PYTHONPATH
