include MANIFEST.in
include COPYING
recursive-include static *
recursive-include templates *
recursive-include ductus/modules/picture/templates *
recursive-include ductus/modules/picture_choice/templates *
recursive-include ductus/modules/textwiki/templates *
