{% extends "ductus_base.html" %}
{% load i18n %}

{% block content %}
{% if validlink %}
<form method="post" action=".">
<table>
{{ form }}
</table>
<input type="submit" value="{% trans "Log in" %}" />
{% ifnotequal next "/logout/" %}<input type="hidden" name="next" value="{{ next }}" />{% endifnotequal %}
</form>
{% else %}
<p>The link you followed is invalid or expired.  You may wish to
<a href="/reset-password/">request that your password be reset</a>
again.</p>
{% endif %}
<p>Need to <a href="/create-account/">create an account</a>?</p>
{% endblock %}
