body {
    font-family: "Liberation Sans",Arial,Helvetica,sans-serif;
    color: #333;
}

/* base grid */
.ductus_wrap1 {
    width: 100%;
}
.ductus_wrap2 {
    width: 96%;
    max-width: 1024px;
    margin: 0 auto;
}
body.ductus_wide .ductus_wrap2 {
    max-width: none;
}
@media screen and (max-width: 768px) {
    .ductus_wrap2 {
        width: 99%;
    }
}
.ductus_wrap3_main, .ductus_wrap3_side, .ductus_wrap3_all {
    float: left;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .ductus_wrap3_main {
        width: 71%;
    }
    .ductus_wrap3_side {
        float: right;
        width: 29%;
    }
    .ductus_wrap3_main .ductus_wrap4 {
        /* .04 / .71 */
        padding: 0 5.6338028169014086%;
    }
    .ductus_wrap3_side .ductus_wrap4 {
        /* .04 / .29 */
        padding: 0 13.793103448275865%;
    }
}
.ductus_wrap4 {
    padding: 0 4%;
    margin: 2em 0;
}

/* end of main grid styling */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #000;
    margin: .75em 0;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
h4 {
    font-size: 112%;
}
h5 {
    font-size: 90%;
}
h6 {
    font-size: 75%;
}

#ductus_header hr, #ductus_footer hr {
    display: none;
}

#ductus_header ul {
    margin: 0;
}
#ductus_header {
    background: #6b497e;
    border-bottom: 1px solid #39005a;
}
#ductus_header .ductus_wrap4 {
    margin: 0;
}
#ductus_header h1 {
    display: inline;
    font-size: 1em;
}
#ductus_header ul {
    list-style: none;
}
#ductus_header ul li {
    display: inline;
    float: right;
}
#ductus_header, #ductus_header a {
    color: #eee;
}
#ductus_header a {
    text-decoration: none;
    font-weight: bold;
}

#ductus_footer {
    border-top: 1px solid #ddd;
}
#ductus_footer p {
    text-align: center;
}
.copyright_info {
    font-size: 70%;
    margin-left: 20%;
    margin-right: 20%;
}

#ductus_document_header ul {
    list-style: none;
    padding: 1em 0;
}
#ductus_document_header ul li {
    display: inline;
    white-space: nowrap;
}
#ductus_document_header ul li.selected {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#ductus_document_header ul li a {
    font-size: 80%;
    text-decoration: none;
    color: #00a;
}
#ductus_document_header ul li a:hover {
    text-decoration: underline;
}
#ductus_document_header ul li.selected a {
    color: #000;
}

#ductus_ajax_status {
    position: fixed;
    top: 0;
    left: 50%;
    background: #ee9;
    padding: .2em;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.ductus_save_notice {
    color: #a00;
}

hr {
    border: 0;
    height: 1px;
    color: #aaa;
    background-color: #aaa;
}

a {
    color: #002bb8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #5a36af;
}
a.broken {
    color: #c20;
}
.ductus_textwiki_content a.external {
    padding-right: 14px;
    background: transparent url(../img/Icon_External_Link.png) no-repeat center right;
}

dl.ductus_creation_views {
    padding-left: 2em;
}
dl.ductus_creation_views dd {
    color: #666;
    margin-left: 0;
    padding-left: 2em;
    margin-bottom: 1em;
}

.quiet {
    font-size: 66%;
    color: #444;
}

ul.radio_ul {
    list-style-type: none;
    padding-left: 0;
}

.license_info {
    border-bottom: 1px solid #ddd;
    margin: 1.5em 0;
}

/* for jquery */
.ui-effects-transfer {
    border: 2px solid black;
}

/* mobile devices */
@media screen and (max-width: 420px) {

    body {
	font-size: 12px;
    }

}

/* tablet computers */
@media screen and (min-width: 421px) and (max-width: 768px) {

    body {
	font-size: 14px;
    }

}
