body { margin: 0; }
#ductus_content { margin: 1em; }

#ductus_header hr, #ductus_footer hr { display: none; }

#ductus_header * { margin: 0; padding: 0; }
div#ductus_header { background: #6b497e; border-bottom: 1px solid #39005a; 
                    padding: 0 1em; }
#ductus_header h1 { display: inline; font-size: 1em; }
#ductus_header ul { list-style: none; }
#ductus_header ul li { display: inline; float: right; }
#ductus_header, #ductus_header a { color: #eee; }
#ductus_header a { text-decoration: none; font-weight: bold; }

#ductus_footer { border-top: 1px solid #ddd; padding: 0 1em; }
#ductus_footer p { text-align: center; }

#ductus_document_header ul { list-style: none; padding-left: 20%; border-bottom: 1px solid #ddd; padding-bottom: .2em; }
#ductus_document_header ul li { display: inline; }
#ductus_document_header ul li a { margin-right: 1em; border: 1px solid #ddd; border-bottom: none; padding: 3px .5em; background-color: #fff; font-size: 80%; text-decoration: none; color: #00a; }
#ductus_document_header ul li a:hover { text-decoration: underline; }
#ductus_document_header ul li.selected a { padding-bottom: 4px; }

hr { border: 0; height: 1px; color: #aaa; background-color: #aaa; }

a { color: #002bb8; }
a:visited { color: #5a36af; }
a.broken { color: #c20; }
.ductus_textwiki_content a { padding-right: 14px; background: transparent url(../img/Icon_External_Link.png) no-repeat center right; }
.ductus_textwiki_content a.internal { padding-right: 0; background: none; }

.clear { clear: both; }

.handle { cursor: move; }

/* for jquery */
.ui-effects-transfer { border: 2px solid black; }
