{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}

{% block head %}
<script type="text/javascript">var resource_json = {href: '{{ request.ductus.resource.urn }}', resource: {{ request.ductus.resource.output_json_dict|jsonize }} };</script>
<script type="text/javascript" src="{{ ductus_media_prefix }}modules/picture_choice/js/editor.js"></script>
{% endblock %}

{% block content %}
<div id="pcl_editor"></div>
<div><a id="append_new_pcg_button">{% trans "add picture choice group" %}</a></div>
<div style="margin-top: 1em;"><a id="save_button">{% trans "Save" %}</a></div>
{% endblock %}
