{% load urn %}
<div class="ductus_picture_choice">
  <h2 lang="">{{ object.phrase.text|escape }}</h2>
  <table>
    <tr><td class="picture_choice_picture{% ifequal object.picture_urns.0 object.correct_picture_urn %} correct{% endifequal %}"><div><img alt="" src="{{ object.picture_urns.0|resolve }}?view=image&amp;max_size=250,250"/></div></td><td></td><td class="picture_choice_picture{% ifequal object.picture_urns.1 object.correct_picture_urn %} correct{% endifequal %}"><div><img alt="" src="{{ object.picture_urns.1|resolve }}?view=image&amp;max_size=250,250"/></div></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td class="picture_choice_picture{% ifequal object.picture_urns.2 object.correct_picture_urn %} correct{% endifequal %}"><div><img alt="" src="{{ object.picture_urns.2|resolve }}?view=image&amp;max_size=250,250"/></div></td><td></td><td class="picture_choice_picture{% ifequal object.picture_urns.3 object.correct_picture_urn %} correct{% endifequal %}"><div><img alt="" src="{{ object.picture_urns.3|resolve }}?view=image&amp;max_size=250,250"/></div></td></tr>
  </table>
</div>
