{% extends "ductus_base.html" %}
{% load i18n %}

{% block login_button %}{% endblock %}

{% block head %}
{{ block.super }}
    <meta name="robots" content="noindex"/>
{% endblock %}

{% block content %}
{% if form.errors %}
<p>{% trans "Your username and password did not match. Please try again." %}</p>
{% endif %}
<form method="post" action="{{ request.path }}">{% csrf_token %}
<table>
<tr><td><label for="id_username">{% trans "Username" %}:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">{% trans "Password" %}:</label></td><td>{{ form.password }} {% url django.contrib.auth.views.password_reset as password_reset_url %}{% blocktrans %}<a href="{{ password_reset_url }}">Forget your password</a>?{% endblocktrans %}</td></tr>
</table>
<input type="submit" value="{% trans "Log in" %}" />
{% url ductus.user.views.logout as logout_url %}
{% ifnotequal next logout_url %}{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}{% endifnotequal %}
</form>
{% url ductus.user.views.user_creation as user_creation_url %}
<p>{% blocktrans %}Need to <a href="{{ user_creation_url }}">create an account</a>?{% endblocktrans %}</p>
{% endblock %}

{% block javascript %}
{{ block.super }}
$(function () { $("#id_username").focus(); });
{% endblock %}
