{% extends "ductus_base.html" %}
{% load i18n %}

{% block content %}
{% if validlink %}
<form method="post" action="{{ request.path }}">{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="{% trans "Change password" %}" />
</form>
{% else %}
{% url django.contrib.auth.views.password_reset as password_reset_url %}
<p>{% blocktrans %}The link you followed is invalid or expired.  You may wish to <a href="{{ password_reset_url }}">request that your password be reset</a> again.{% endblocktrans %}</p>
{% endif %}
{% url ductus.user.views.user_creation as user_creation_url %}
<p>{% blocktrans %}Need to <a href="{{ user_creation_url }}">create an account</a>?{% endblocktrans %}</p>
{% endblock %}
