{% extends "ductus_base.html" %}
{% load i18n %}

{% block content %}
{% if validlink %}
<form method="post" action="{{ request.path }}">
<table>
{{ form }}
</table>
<input type="submit" value="{% trans "Change password" %}" />
</form>
{% else %}
<p>The link you followed is invalid or expired.  You may wish to
<a href="{% url django.contrib.auth.views.password_reset %}">request
that your password be reset</a> again.</p>
{% endif %}
<p>Need to <a href="{% url ductus.user.views.user_creation %}">create an account</a>?</p>
{% endblock %}
