#bottom_toolbar, #bottom_toolbar_spacer {
    height: 260px;
    width: 100%;
}
#bottom_toolbar {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #bbb;
    font-size: 85%;
}
.ductus-selected {
    background-color: #ddf;
}
.ductus_FlashcardSide {
    height: 100%;
    width: 100%;
}
.topleft_th {
    width: 20px;
}
.ductus_FlashcardDeck_anonymous_column_name {
    font-style: italic;
}

/* Vertical Tabs (adapted from view-source:http://jquery-ui.googlecode.com/svn/trunk/demos/tabs/vertical.html) */
.ui-tabs-vertical {
    width: 100%;
    height: 85%;
}
.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 13%;
    font-size: 80%;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
    padding: .1em;
    float: left;
    width: 84%;
    overflow: auto;
    height: 100%;
}
