.ductus_picture_choice h2 {
    text-align: center;
}
.ductus_picture_choice * td div {
    height: 250px;
    width: 250px;
    display: table-cell;
    vertical-align: middle;
    background: #eee;
}
.ductus_picture_choice * td div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.ductus_picture_choice table {
    margin-left: auto;
    margin-right: auto;
}

/* mobile devices */
@media screen and (max-width: 420px) {

    .ductus_picture_choice * td div {
	height: 100%;
    }

}
