{% extends "ductus_base.html" %}
{% load title %}
{% load i18n %}

{% block title %}
{{ block.super }}
{% title "Recent changes" %}
{% endblock %}

{% block content %}
<ul>
{% for revision in revision_list %}
<li>{% if revision.get_absolute_url %}<a href="{{ revision.get_absolute_url }}">{% endif %}{{ revision.page.name }}{% if revision.get_absolute_url %}</a>{% endif %} <span dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}">{% if not revision.get_absolute_url %}(deleted){% endif %} &ndash; {{ revision.timestamp|date:"Y-m-d H:i:s T" }} {% if revision.author %}{{ revision.author }}{% else %}{{ revision.author_ip }}{% endif %} {% if revision.log_message %}&ndash; <i>{{ revision.log_message }}</i>{% endif %}</span></li>
{% endfor %}
</ul>
<div>
   {% if page_obj.has_previous %}<div style="float: left"><a href="?page={{ page_obj.previous_page_number }}" rel="prev">{% trans "&laquo; Newer" %}</a></div>{% endif %}
   {% if page_obj.has_next %}<div style="float: right"><a href="?page={{ page_obj.next_page_number }}" rel="next">{% trans "Older &raquo;" %}</a></div>{% endif %}
</div>
<div class="clear"></div>
{% endblock %}
