{% extends "ductus_base.html" %}
{% load title %}

{% block title %}
{{ block.super }}
{% title "Recent changes" %}
{% endblock %}

{% block content %}
<ul>
{% for revision in revisions %}
<li>{% if revision.get_absolute_url %}<a href="{{ revision.get_absolute_url }}">{% endif %}{{ revision.page.name }}{% if revision.get_absolute_url %}</a>{% endif %} {% if not revision.get_absolute_url %}(deleted){% endif %} &ndash; {{ revision.timestamp|date:"Y-m-d H:i:s T" }} {% if revision.author %}{{ revision.author }}{% else %}{{ revision.author_ip }}{% endif %} {% if revision.log_message %}&ndash; <i>{{ revision.log_message }}</i>{% endif %}</li>
{% endfor %}
</ul>
{% endblock %}
