{% extends "ductus_base.html" %}
{% load title %}
{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
{% title "Search" %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "ductus/common/js/search.js" %}"></script>
{% endblock %}

{% block content %}
{% if target_language_code %}
<h3>{% blocktrans %}{{ target_language_description }} lessons{% endblocktrans %}</h3>
{% endif %}

<div class="search-toolbar">
    <input class="search-text" placeholder="{% trans "Search for..." %}" />
    <span class="search-button">{% trans "Search" %}</span>
    <span class="search-status"></span>
    <div class="refine-by-tag">{% trans "Show only results with tags:" %}</div>
</div>
<div class="search-results"></div>
{% endblock %}
