{% extends "ductus_document.html" %}
{% load staticfiles %}
{% load compress %}
{% load underscores %}
{% load i18n %}

{% block css %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "ductus/common/css/new_wikipage.css" %}"/>
{% endcompress %}
{% endblock %}

{% block javascript %}
{{ block.super }}
$(function() {
    $('a.ductus_other_view').click(function() {
        $('dl.ductus_creation_views').toggle('fast');
    });
});
{% endblock %}

{% block content %}
<p>
{% if absolute_pagename %}
{% blocktrans %}There exists no page at <tt>{{ absolute_pagename }}</tt>, so you must create one to move forward.{% endblocktrans %}
{% endif %}
{% trans "Please choose a type of page to create:" %}
</p>
    {# show a fancy picture-enhanced list of user-friendly templates #}
    <div class="ductus_creation_templates">
        {% for creation_template in creation_templates %}
        <div class="ductus_creation_template {{ creation_template.class }}">
            <a href="{{ creation_template.url }}{% if creation_template.params %}?{{ creation_template.params }}{% endif %}" title="{{ creation_template.description }}"></a>
            {{ creation_template.name }}
        </div>
        {% endfor %}
    </div>
    <div style="clear: both"></div>
    <a class="ductus_other_view">additional options</a>
    {# list types in a tech-oriented way #}
    <dl class="ductus_creation_views">
    {% for creation_view in creation_views %}
    <dt><a href="/new/{{ creation_view.name|urlencode }}{% if url_params %}?{{ url_params }}{% endif %}">{{ creation_view.name|underscores_to_spaces }}</a></dt>
    <dd>{{ creation_view.description }}</dd>
    {% endfor %}
    </dl>
    <div style="clear: both"></div>
{% endblock %}
