{% extends "ductus_document.html" %}
{% load underscores %}
{% load i18n %}

{% block css %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "ductus/common/css/new_wikipage.css" %}"/>
{% endcompress %}
{% endblock %}

{% block content %}
<p>
{% if absolute_pagename %}
{% blocktrans %}There exists no page at <tt>{{ absolute_pagename }}</tt>, so you must create one to move forward.{% endblocktrans %}
{% endif %}
{% trans "Please choose a type of page to create:" %}
</p>

{% if advanced_view %}
    {# the advanced view lists types in a tech-oriented way #}
    <dl class="ductus_creation_views">
    {% for creation_view in creation_views %}
    <dt><a href="/new/{{ creation_view.name|urlencode }}{% if absolute_pagename %}?target={{ absolute_pagename|urlencode }}{% endif %}">{{ creation_view.name|underscores_to_spaces }}</a></dt>
    <dd>{{ creation_view.description }}</dd>
    {% endfor %}
    </dl>
    <div style="clear: both"></div>
    <a class="ductus_other_view" href="/new">Standard view</a>
{% else %}
    {# the normal view shows a fancy picture-enhanced list of user-friendly templates #}
    <div class="ductus_creation_templates">
        {% for creation_template in creation_templates %}
        <div class="ductus_creation_template {{ creation_template.class }}">
            <a href="{{ creation_template.url }}{% if absolute_pagename %}?target={{ absolute_pagename|urlencode }}{% endif %}" title="{{ creation_template.description }}"></a>
            {{ creation_template.name }}
        </div>
        {% endfor %}
    </div>
    <div style="clear: both"></div>
    <a class="ductus_other_view" href="/new?advanced=true">advanced view</a>
{% endif %}
{% endblock %}
