{% extends "ductus_document.html" %}

{% block javascript %}
{{ block.super }}
{{ element.js }}
$(function () {
    $(".picture_choice_picture * img").click(function () {
        if ($(this).parent().parent().hasClass("correct")) {
            $('.ductus_picture_choice table tr td').not('.correct').hide(500);
        } else {
            $(this).parent().fadeTo(200, .25);
        }
    });
});
{% endblock %}

{% block head %}
<style type="text/css">
.ductus_picture_choice h2 { text-align: center; }
.ductus_picture_choice * td div { height: 250px; width: 250px; display: table-cell; vertical-align: middle; background: #ccc; }
.ductus_picture_choice * td div img { display: block; margin-left: auto; margin-right: auto; }
.ductus_picture_choice table { margin-left: auto; margin-right: auto; }
</style>
{% endblock %}

{% block content %}
<div id="pcl_html_block">
{{ element.html_block }}
</div>
{% endblock %}
