{% load urn %}
<div class="ductus_picture_choice">
  <h2>{{ object.phrase|escape }}</h2>
  <table>
    <tr><td id="picture0"><div><img alt="" src="{{ object.pictures.0|resolve }}?view=image&amp;max_size=250,250"/></div></td><td></td><td id="picture1"><div><img alt="" src="{{ object.pictures.1|resolve }}?view=image&amp;max_size=250,250"/></div></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td id="picture2"><div><img alt="" src="{{ object.pictures.2|resolve }}?view=image&amp;max_size=250,250"/></div></td><td></td><td id="picture3"><div><img alt="" src="{{ object.pictures.3|resolve }}?view=image&amp;max_size=250,250"/></div></td></tr>
  </table>
</div>
