{% extends "ductus_document_columns.html" %}
{% load textwiki %}
{% load static %}
{% load compress %}
{% load title %}

{% block css %}
{{ block.super }}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{% static "ductus/modules/textwiki/css/textwiki.css" %}"/>
{% endcompress %}
{% endblock %}

{% block title %}
{{ block.super }}
{% with text|creole_guess_title|truncatewords:"20" as guessed_title %}
{% if guessed_title %}{% title guessed_title %}{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="ductus_textwiki_content" lang="">
{{ text|creole:natural_language }}
</div>
{% endblock %}
