{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}
{% load static %}
{% load compress %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static "ductus/common/js/editing-widgets.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/jquery.blockUI.min.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/modules/textwiki/js/textwiki_editor.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block javascript %}
var resource_json = {{ resource_json|resource_json }};
var writable_directories = {{ writable_directories|jsonize }};
{% endblock %}

{% block content %}
<div id="textwiki-preview"></div>
<div id="textwiki-editor"></div>
<div id="textwiki-save-widget"></div>
<div id="editor-help">
<dl>
<dt>Emphasis</dt><dd>//<em>italics</em>//; **<strong>bold</strong>**; **//<em><strong>bold italics</strong></em>//**; //<em>mixed </em>**<em><strong>bold</strong>** and italics</em>//; </dd>
<dt>Horizontal Rule</dt><dd>---- </dd>
<dt>Force Linebreak</dt><dd>\\ </dd>
<dt>Headings</dt><dd>= Title 1 =; == Title 2 ==; === Title 3 ===; ==== Title 4 ====; ===== Title 5 =====. </dd>
<dt>Lists</dt><dd>* bullets; ** sub-bullets; # numbered items; ## numbered sub items. </dd>
<dt>Links</dt><dd>[[target]]; [[target|linktext]]. </dd>
<dt>Tables</dt><dd>|= header text | cell text | more cell text |; </dd>
</dl>
</div>
{% endblock %}
