{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}
{% load static %}
{% load compress %}

{% block css %}
{{ block.super }}
{% compress css %}
<link type="text/css" href="{% static "ductus/common/css/token-input.css" %}" rel="stylesheet"/>
<link type="text/css" href="{% static "ductus/modules/textwiki/css/textwiki_editor.css" %}" rel="stylesheet"/>
<link type="text/css" href="{% static "ductus/modules/textwiki/css/textwiki.css" %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static "ductus/modules/textwiki/aloha/css/aloha.css" %}" type="text/css">
{% endcompress %}
{% endblock %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static "ductus/common/js/jquery.blockUI.min.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/jquery.tokeninput.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/editing-widgets.js" %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static "ductus/modules/textwiki/js/textwiki_editor.js" %}"></script>
{% endcompress %}
<script type="text/javascript" src="{% static "ductus/modules/textwiki/aloha/lib/require.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/modules/textwiki/aloha/lib/vendor/jquery-1.7.2.js" %}"></script>
<script type="text/javascript">
var Aloha = {
    settings: {
        plugins: {
            link: {
                cssclass: 'external'
            }
        },
        jQuery: window.jQuery.noConflict(true),
        sidebar: { disabled: true },
        floatingmenu: {
            behaviour: 'topalign',
        },
        contentHandler: {
            initEditable: [ 'sanitize' ],
            getContents: [ 'sanitize' ],
            sanitize: 'relaxed', // relaxed, restricted, basic,
                allows: {
                    elements: [
                        'a', 'b', 'div', 'dl', 'dt', 'em',
                        'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'i', 'li', 'ol', 'p', 'pre', 'sub',
                        'sup', 'table', 'tbody', 'td', 'th', 'tr', 'u', 'ul'],
                    attributes: {
                        'a'         : ['class', 'href'],
                        'table'     : ['summary'],
                        'td'        : ['colspan', 'rowspan'],
                        'th'        : ['scope'],
                     },
                    protocols: {
                        'a'         : {'href': ['ftp', 'http', 'https', 'mailto', '__relative__']}, // Sanitize.RELATIVE
                    }
                },
                handler: {
                    generic: {
                        transformFormattings: false // this will disable the transformFormattings method in the generic content handler
                    }
                }
            }
        }
};
</script>
<script type="text/javascript" src="{% static "ductus/modules/textwiki/aloha/lib/aloha.js" %}"
  data-aloha-plugins="common/ui,common/format,common/highlighteditables,common/link,common/contenthandler,common/list,common/table"></script>
{% endblock %}

{% block javascript %}
var resource_json = {{ resource_json|resource_json }};
var writable_directories = {{ writable_directories|jsonize }};
{% endblock %}

{% block content %}
<div id="toolbar-container"></div>
<div id="textwiki-editor"></div>
<div id="side_toolbar"></div>
{% endblock %}
