{% extends "ductus_document.html" %}
{% load i18n %}

{% block content %}
<form method="post">
<p>{{ form.text.errors }}</p>
<p>{{ form.text }}</p>
{{ captcha }}
<p>Log message: {{ form.log_message }}</p>
<p><input type="submit" value="{% trans "Save" %}"/> {#<input type="submit" value="{% trans "Preview" %}" name="preview"/>#}</p>
</form>
<div id="editor-help">
<dl>
<dt>Emphasis</dt><dd>//<em>italics</em>//; **<strong>bold</strong>**; **//<em><strong>bold italics</strong></em>//**; //<em>mixed </em>**<em><strong>bold</strong>** and italics</em>//; </dd>
<dt>Horizontal Rule</dt><dd>---- </dd>
<dt>Force Linebreak</dt><dd>\\ </dd>
<dt>Headings</dt><dd>= Title 1 =; == Title 2 ==; === Title 3 ===; ==== Title 4 ====; ===== Title 5 =====. </dd>
<dt>Lists</dt><dd>* bullets; ** sub-bullets; # numbered items; ## numbered sub items. </dd>
<dt>Links</dt><dd>[[target]]; [[target|linktext]]. </dd>
<dt>Tables</dt><dd>|= header text | cell text | more cell text |; </dd>
</dl>
</div>
{% endblock %}
