{% extends "ductus_base.html" %}
{% load i18n %}

{% block document_header %}
  <div id="ductus_document_header">
    <ul>
      <li><a href="?">Document</a>{# default view #}</li>
      <li><a href="?view=view_index">Views</a></li>
      {# <li>View index</li> #} {# only if there are other views #}
      {# <li>Talk (location)</li> #}
      {# <li>Talk (document)</li> #}
      <li>Fork/Copy/Duplicate</li> {# only if it's an editable document #}
      <li><a href="?view=edit"{# do we need anything else from the query_string? #}>{% trans "Edit" %}</a></li> {# only if it is an editable document and it's a 'wikiurl' and we have permission at this location #}
      <li><a href="?view=location_history">Location History</a></li> {# only if it's a 'wikiurl' #}
      <li>Document History</li> {# always #}
    </ul>
  </div>
  <div class="clear"></div>
{% endblock %}

{# Where does the box saying "psssst, you are viewing an old version of this page!" go? #}
{# And should there be a box for URN's that says "pssssst; this page never changes!" #}
