{% load i18n %}<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}{% endblock %} - {{ ductus_site_name }}</title>
    <meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ductus_media_prefix }}common/css/base.css" />
    {# include local (site-specific) css #}
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery-1.3.min.js"></script>
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery-ui-1.6/jquery.ui.all.min.js"></script>
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/json2.min.js"></script>
    <script type="text/javascript">
      {% block javascript %}{% endblock %}
    </script>
    {{ ductus_site_head }}
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="ductus_header">
      <ul class="ductus_header_tabs">
{% if 0 %}
        <li>Community
          <ul>
{% if user.is_authenticated %}
            <li>My Page</li>
            <li>My Groups</li>
            <li></li>
{% endif %}
            <li>Contribute</li>
            <li>Help</li>
          </ul>
        </li>
{% endif %}
{% if user.is_authenticated %}
        <li><a href="/user/{{ user.username }}">{{ user.username }}</a>
          &mdash; <a href="/logout/">{% trans "Log&nbsp;out" %}</a></li>
{% else %}
        {% block login_button %}
          <li><a href="/login/?next={{ request.get_full_path|urlencode }}">{% trans "Log&nbsp;in" %}</a></li>
        {% endblock %}
{% endif %}
      </ul>
      {#{% block document_header %}{% endblock %}#}
      <h1><a href="/">{{ ductus_site_name }}</a></h1>
      <hr/>
    </div>
    {% block document_header %}{% endblock %}
    <div id="ductus_content">{% block outer_content %}{% block content %}{% endblock %}{% endblock %}</div>
    <div id="ductus_footer">
      <hr/>
      <p>{% blocktrans %}{{ ductus_site_name }} is powered by <a href="http://ductus.us/">Ductus</a>.{% endblocktrans %}</p>
      <form action="/setlang/" method="post">
        <p>
          <input name="next" type="hidden" value="{{ request.get_full_path }}" />
          <select name="language">
            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.0 }} {{ lang.1 }}</option>{% endfor %}
          </select>
        <input type="submit" value="{% trans "Go" %}" />
        </p>
      </form>
    </div>
  </body>
</html>
