{% extends "ductus_base.html" %}
{% load i18n %}

{% block document_header %}
  <div id="ductus_document_header">
    <ul>
      <li><a href="{{ request.path }}">{% trans "Document" %}</a></li>
      <li><a href="?view=view_index">{% trans "Views" %}</a></li>
      {# <li>Talk (location)</li> #}
      {# <li>Talk (document)</li> #}
      <li>Fork/Copy/Duplicate</li>
      <li><a href="?view=edit">{% trans "Edit" %}</a></li> {# only if it is an editable document and it's a 'wikiurl' and we have permission at this location #}
      <li><a href="?view=document_history">{% trans "Document History" %}</li>
{% if request.ductus.wikipage %}
      <li><a href="?view=location_history">{% trans "Location History" %}</a></li>
      <li><a href="?view=hybrid_history">{% trans "History" %}</a></li>
{% endif %}
    </ul>
  </div>
  <div class="clear"></div>
{% endblock %}

{# Where does the box saying "psssst, you are viewing an old version of this page!" go? #}
{# And should there be a box for URN's that says "pssssst; this page never changes!" #}
