{% extends "ductus_base.html" %}
{% load i18n %}

{% block document_header %}
{% with request.ductus as ductus %}
  <div id="ductus_document_header">
    <ul>
      {% if ductus.resource %}<li><a href="{{ request.path }}">{% trans "Document" %}</a></li>{% endif %}
      <li><a href="?view=view_index">{% trans "Views" %}</a></li>
      {# <li>Talk (location)</li> #}
      {% if ductus.resource %}
        {# <li>Talk (document)</li> #}
        <li><a href="?view=edit">{% trans "Edit" %}</a></li> {# fixme: check for permission to edit in place. #}
        {# <li>{% trans "Copy" %}</li> #}
        {% if 0 and ductus.wiki_revision %}<li>{% trans "Delete" %}</li>{% endif %} {# fixme: poor name since it doesn't permanently delete #}
        {# <li>Flag</li> #}
      {% endif %}
      <li><a href="?view=history">{% trans "History" %}</a></li>
    </ul>
  </div>
  <div class="clear"></div>
{% endwith %}
{% endblock %}

{# Where does the box saying "psssst, you are viewing an old version of this page!" go? #}
{# And should there be a box for URN's that says "pssssst; this page never changes!" #}
