<!DOCTYPE html>{% load i18n %}{% load title %}{% load license_name %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% title ductus_site_name %}{% endblock %}{% for title in title_list reversed %}{{ title }}{% if not forloop.last %} - {% endif %}{% endfor %}</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ductus_media_prefix }}common/css/base.css" />
    {# include local (site-specific) css #}
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/json2.min.js"></script>
    <script type="text/javascript">
      function resolve_urn(urn) { return '/' + urn.split(':').join('/'); }
      $(function () {
        $("body").append($('<div id="ductus_ajax_status">Working...</div>').hide().ajaxStart(function () { $(this).show(); }).ajaxStop(function () { $(this).hide(); }));
      });
      var ductus_media_prefix = '{{ ductus_media_prefix }}';
      var RecaptchaOptions = {'theme': 'white', 'lang': '{{ LANGUAGE_CODE|slice:':2' }}'};
      {% block javascript %}{% endblock %}
    </script>
{% if rss_url %}
    <link rel="alternate" type="application/rss+xml" title="{{ title_list|last }}" href="{{ rss_url }}"/>
{% endif %}
    {{ ductus_site_head }}
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <div id="ductus_header">
        <nav>
          <ul class="ductus_header_tabs">
{% if 0 %}
            <li>Community
              <ul>
{% if user.is_authenticated %}
                <li>My Page</li>
                <li>My Groups</li>
                <li></li>
{% endif %}
                <li>Contribute</li>
                <li>Help</li>
              </ul>
            </li>
{% endif %}
{% if user.is_authenticated %}
            <li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
              &mdash; <a href="{% url django.contrib.auth.views.logout %}" style="white-space: nowrap;">{% trans "Log out" %}</a></li>
{% else %}
            {% block login_button %}
              <li><a href="{% url django.contrib.auth.views.login %}?next={{ request.escaped_full_path|urlencode }}" style="white-space: nowrap;">{% trans "Log in" %}</a></li>
            {% endblock %}
{% endif %}
          </ul>
        </nav>
        <h1><a href="{{ ductus_front_page }}">{{ ductus_site_name }}</a></h1>
        <hr/>
      </div>
    </header>
{% if messages %}
    <div class="messages">
{% for message in messages %}
      <div>{{ message }}</div>
{% endfor %}
    </div>
{% endif %}
    {% block document_header %}{% endblock %}
    <div id="ductus_content">{% block outer_content %}{% block content %}{% endblock %}{% endblock %}</div>
    <footer>
      <div id="ductus_footer">
        <hr/>
        <form action="{% url django.views.i18n.set_language %}" method="post">
          <p>
            {% trans "user interface language:" %}
            <input name="next" type="hidden" value="{{ request.escaped_full_path }}" />
            <select name="language">
              {% for lang in LANGUAGES %}
              <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.0 }} {% trans lang.1 %}</option>{% endfor %}
            </select>
            <input type="submit" value="{% trans "Go" %}"/>
          </p>
        </form>
        <p>{% blocktrans %}{{ ductus_site_name }} is powered by <a href="http://ductus.us/">Ductus</a>.{% endblocktrans %}</p>
        {% block copyright_info %}<p class="copyright_info">{% blocktrans with ductus_default_license|license_name as default_license_name %}All contributions to this wiki will be licensed under the <a href="{{ ductus_default_license }}">{{ default_license_name }}</a> license.  Certain pieces of content may be available under a more permissive license; see a specific document's license information page for details.{% endblocktrans %}</p>{% endblock %}
      </div>
    </footer>
  </body>
</html>
