<!DOCTYPE html>{% load i18n %}{% load title %}{% load license_name %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% title ductus_site_name %}{% endblock %}{% for title in title_list reversed %}{{ title }}{% if not forloop.last %} - {% endif %}{% endfor %}</title>
    <meta name="HandheldFriendly" content="True"/>
    <link type="text/css" href="{{ ductus_media_prefix }}common/css/normalize.css" rel="stylesheet"/>
    <link type="text/css" href="{{ ductus_media_prefix }}common/css/smoothness/jquery-ui-1.8.17.custom.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ductus_media_prefix }}common/css/base.css" />
    {# include local (site-specific) css #}
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/json2.min.js"></script>
    <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/base.js"></script>
    <!--[if IE]>
      <script type="text/javascript" src="{{ ductus_media_prefix }}common/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var ductus_media_prefix = '{{ ductus_media_prefix }}';
      var ductus_mediacache_prefix = '{{ ductus_mediacache_prefix }}';
      var ductus_mime_to_ext = {% load jsonize %}{{ ductus_mime_to_ext|jsonize }};
      var RecaptchaOptions = {'theme': 'white', 'lang': '{{ LANGUAGE_CODE|slice:':2' }}'};
      {% block javascript %}{% endblock %}
    </script>
{% if rss_url %}
    <link rel="alternate" type="application/rss+xml" title="{{ title_list|last }}" href="{{ rss_url }}"/>
{% endif %}
    {% include "ductus_site_head.html" %}
    {% block head %}{% endblock %}
  </head>
  <body class="ductus {% block body_classes %}{% endblock %}">
    <header>
      <div class="ductus_wrap1" id="ductus_header">
        <div class="ductus_wrap2">
          <div class="ductus_wrap3_all">
            <div class="ductus_wrap4">
              <nav>
                <ul class="ductus_login_status_header">
{% if user.is_authenticated %}
                  <li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                    &mdash; <a href="{% url ductus.user.views.logout %}" style="white-space: nowrap;">{% trans "Log out" %}</a></li>
{% else %}
                  {% block login_button %}
                    <li><a href="{% url ductus.user.views.user_creation %}" style="white-space: nowrap;">{% trans "Register" %}</a></li>
                    <li><a href="{% url ductus.user.views.login %}?next={{ request.escaped_full_path|urlencode }}" style="white-space: nowrap;">{% trans "Log in" %}</a></li>
                  {% endblock %}
{% endif %}
                </ul>
              </nav>
{% block site_logo %}
              <h1><a href="/"><span>{{ ductus_site_name }}</span></a></h1>
              <hr/>
{% endblock %}
            </div>
          </div>
          <div style="clear: both"></div>
        </div>
      </div>
    </header>
{% if messages %}
    <div class="messages">
{% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
    </div>
{% endif %}
    {% block document_header %}{% endblock %}
    <div class="ductus_wrap1" id="ductus_content">
      <div class="ductus_wrap2">
{% block content_wrapping %}
        <div class="ductus_wrap3_all">
          <div class="ductus_wrap4">{% block outer_content %}{% block content %}{% endblock %}{% endblock %}</div>
        </div>
        <div style="clear: both"></div>
{% endblock content_wrapping %}
      </div>
    </div>
    {% block document_footer %}{% endblock %}
    <footer>
      <div class="ductus_wrap1" id="ductus_footer">
        <div class="ductus_wrap2">
          <div class="ductus_wrap3_all">
            <div class="ductus_wrap4">
              <hr/>
              <form action="{% url django.views.i18n.set_language %}" method="post">{% csrf_token %}
                <p>
                  {% trans "Your language:" %}
                  <input name="next" type="hidden" value="{{ request.escaped_full_path }}" />
                  <select name="language">
                    {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.0 }} {% trans lang.1 %}</option>{% endfor %}
                  </select>
                  <input type="submit" value="{% trans "Apply" %}"/>
                </p>
              </form>
              <p>{% blocktrans %}{{ ductus_site_name }} is powered by <a href="http://ductus.us/">Ductus</a>.{% endblocktrans %}</p>
              {% block copyright_info %}<p class="copyright_info">{% blocktrans with ductus_default_license|license_name as default_license_name %}All contributions to this wiki will be licensed under the <a href="{{ ductus_default_license }}">{{ default_license_name }}</a> license.  Certain pieces of content may be available under a more permissive license; see a specific document's &lsquo;credits&rsquo; page for details.{% endblocktrans %}</p>{% endblock %}
              {% include "ductus_site_footer.html" %}
            </div>
          </div>
          <div style="clear: both"></div>
        </div>
      </div>
    </footer>
  </body>
</html>
