{% extends "ductus_document_columns.html" %}
{% load i18n %}
{% load subview %}

{% block content %}
{% if podcast_webm_relative_url %}
<p><a href="{{ ductus_mediacache_prefix }}{{ podcast_webm_relative_url }}">{% trans "Click here to download the podcast in webm/vorbis format." %}</a></p>
<p><a href="{{ ductus_mediacache_prefix }}{{ podcast_m4a_relative_url }}">{% trans "Click here to download the podcast in mp4 format." %}</a></p>
{% else %}
<p>{% trans "No audio available for podcast.  Try editing the page and adding some." %}</p>
{% endif %}

<h3>{% trans "Full transcript of the lesson:" %}</h3>
{{ request.ductus.resource|subview:"as_html" }}
{{ request.ductus.resource|subview:"tags_display" }}
{% endblock %}

{% block sidebar %}
{% include "sidebar_welcome_message.html" %}
{% endblock %}
