{% extends "ductus_document_columns.html" %}
{% load i18n %}
{% load jsonize %}
{% load subview %}
{% load staticfiles %}
{% load compress %}

{% block css %}
{{ block.super }}
{% compress css %}
<link type="text/css" href="{% static "ductus/modules/flashcards/css/static_view.css" %}" rel="stylesheet"/>
{% endcompress %}
{% endblock %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static "ductus/common/js/jQuery.jPlayer.2.1.0/jquery.jplayer.min.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/audio_player.js" %}"></script>
{% endcompress %}
{% compress js inline %}
<script type="text/javascript">
var available_audio_formats = {{ available_audio_formats|jsonize }};
$(function() {
    function play(elt) {
        // build a pseudo resource to send to jplayer_play()
        var res = {};
        res.href = elt.data('res');
        res['resource'] = {};
        res.resource['blob'] = {};
        res.resource.blob.mime_type = elt.data('mime');
        res.resource.blob.href = elt.data('blob');
        jplayer_play(res);
    }
    $('.ductus_audio').click( function() {
        play($(this));
    });
});
</script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="ductus_podcast_links">
{% if podcast_webm_relative_url %}
<a class="download" href="{{ ductus_mediacache_prefix }}{{ podcast_m4a_relative_url }}" title="{% trans "Download the podcast in MP4/AAC format, compatible with most software, portable music players and mobile phones." %}">{% trans "Download the podcast" %}</a>
<a class="listen" href="{{ ductus_mediacache_prefix }}{{ podcast_webm_relative_url }}" title="{% trans "Listen to the podcast online. If you use an old browser, it will offer to download the file in webm format instead." %}">{% trans "Listen online" %}</a>
{% else %}
<p>{% trans "No audio available for podcast.  Try editing the page and adding some." %}</p>
{% endif %}
</div>

<h3>{% trans "Full transcript of the lesson:" %}</h3>
{{ request.ductus.resource|subview:"as_html" }}
{{ request.ductus.resource|subview:"tags_display" }}
{% endblock %}

{% block sidebar %}
{% include "sidebar_welcome_message.html" %}
{% endblock %}
