{% extends "ductus_document_columns.html" %}
{% load i18n %}
{% load urn %}
{% load jsonize %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static "ductus/modules/flashcards/js/choice.js" %}"></script>
<link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "ductus/modules/flashcards/css/choice.css" %}" />
{% endblock %}

{% block javascript %}
var resource_json = {{ request.ductus.resource|resource_json }};
var prompt_columns = {{ prompt_columns|jsonize }};
var answer_column = {{ answer_column|jsonize }};
{% endblock %}

{% block content %}
<div id="choice_frame_container">
</div>
<p class="choice_frame_count">
{% blocktrans with '<span id="frame_number">1</span>' as current_frame and '<span id="number_of_frames">0</span>' as number_of_frames %}
Frame {{ current_frame }} <span id="total_frames_text">of {{ number_of_frames }}</span>
{% endblocktrans %}
{% blocktrans with '<span id="choice_correct_count">0</span>' as correct_count and '<span id="choice_incorrect_count">0</span>' as incorrect_count %}
({{ correct_count }} correct, {{ incorrect_count }} incorrect).
{% endblocktrans %}
</p>
{% endblock %}

{% block sidebar %}
{% include "sidebar_welcome_message.html" %}
{% endblock %}
