{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}
{% load staticfiles %}
{% load compress %}

{% block css %}
{{ block.super }}
{% compress css %}
<link type="text/css" href="{% static "ductus/modules/flashcards/css/flashcard_editor.css" %}" rel="stylesheet"/>
<link type="text/css" href="{% static "ductus/common/css/token-input.css" %}" rel="stylesheet"/>
{% endcompress %}
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
var resource_json = {{ resource_or_template|resource_json }};
var DUCTUS_FLICKR_GROUP_ID = {{ DUCTUS_FLICKR_GROUP_ID|jsonize }};
var writable_directories = {{ writable_directories|jsonize }};
</script>
{% compress js %}
<script type="text/javascript" src="{% static "ductus/common/js/jquery.blockUI.min.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/jquery.tokeninput.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/editing-widgets.js" %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static "ductus/common/js/jquery.fileupload.modified.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/modules/flashcards/js/flashcard_deck_editor.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/swfobject-2.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/modules/audio/recorder.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block body_classes %}ductus_wide{% endblock %}

{% block content %}
<div id="flashcard_deck_editor"></div>
<div id="side_toolbar"></div>
<div id="side_toolbar_spacer"></div>
{% endblock %}
