{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
var resource_json = {{ request.ductus.resource|resource_json }};
var DUCTUS_FLICKR_GROUP_ID = {{ DUCTUS_FLICKR_GROUP_ID|jsonize }};
var writable_directories = {{ writable_directories|jsonize }};
</script>
<script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery.fileupload.modified.js"></script>
<script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="{{ ductus_media_prefix }}common/js/widgets.js"></script>
<script type="text/javascript" src="{{ ductus_media_prefix }}modules/flashcards/js/flashcard_deck_editor.js"></script>
<link type="text/css" href="{{ ductus_media_prefix }}common/css/jquery.ui.core.css" rel="stylesheet"/>
<link type="text/css" href="{{ ductus_media_prefix }}common/css/jquery.ui.tabs.css" rel="stylesheet"/>
<link type="text/css" href="{{ ductus_media_prefix }}common/css/jquery.ui.theme.css" rel="stylesheet"/>
<link type="text/css" href="{{ ductus_media_prefix }}modules/flashcards/css/flashcard_editor.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="flashcard_deck_editor"></div>
<div><a id="new_row_button">{% trans "add new row" %}</a></div>
<div><a id="new_column_button">{% trans "add new column" %}</a></div>
<div id="bottom_toolbar">
<div id="bottom_toolbar_spacer">&nbsp;</div>
</div>
{% endblock %}
