{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
var resource_json = {{ resource_or_template|resource_json }};
var DUCTUS_FLICKR_GROUP_ID = {{ DUCTUS_FLICKR_GROUP_ID|jsonize }};
var writable_directories = {{ writable_directories|jsonize }};
var wami_path = "{{ ductus_media_prefix }}modules/audio/";
</script>
<script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery.fileupload.modified.js"></script>
<script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="{{ ductus_media_prefix }}common/js/widgets.js"></script>
<script type="text/javascript" src="{{ ductus_media_prefix }}modules/flashcards/js/flashcard_deck_editor.js"></script>
<script type="text/javascript" src="{{ ductus_media_prefix }}common/js/swfobject-2.2.min.js"></script>
<script type="text/javascript" src="{{ ductus_media_prefix }}modules/audio/recorder.js"></script>
<link type="text/css" href="{{ ductus_media_prefix }}modules/flashcards/css/flashcard_editor.css" rel="stylesheet"/>
{% endblock %}

{% block body_classes %}ductus_wide{% endblock %}

{% block content %}
<div id="flashcard_deck_editor"></div>
<div id="side_toolbar"></div>
<div id="side_toolbar_spacer"></div>
{% endblock %}
