{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}
{% load staticfiles %}
{% load compress %}

{% block css %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "ductus/modules/flashcards/css/five_sec_widget.css" %}" />
{% endcompress %}
{% endblock %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static "ductus/common/js/jquery.fileupload.modified.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/jquery.blockUI.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/editing-widgets.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/modules/flashcards/js/five_sec_widget.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/swfobject-2.2.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/modules/audio/recorder.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block javascript %}
{{ block.super }}
var resource_json = {{ resource_or_template|resource_json }};
var DUCTUS_FLICKR_GROUP_ID = {{ DUCTUS_FLICKR_GROUP_ID|jsonize }};
var writable_directories = {{ writable_directories|jsonize }};
{% endblock %}

{% block body_classes %}ductus_wide{% endblock %}

{% block content %}
<div id="ductus_five_sec_widget"></div>
{% endblock %}
