{% load urn %}
<div class="ductus-picture-choice">
  <h2>{{ object.phrase|escape }}</h2>
  <table>
    <tr><td><img alt="" id="picture0" src="{{ object.pictures.0|resolve }}?max_size=250,250"/></td><td></td><td><img alt="" id="picture1" src="{{ object.pictures.1|resolve }}?max_size=250,250"/></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td><img alt="" id="picture2" src="{{ object.pictures.2|resolve }}?max_size=250,250"/></td><td></td><td><img alt="" id="picture3" src="{{ object.pictures.3|resolve }}?max_size=250,250"/></td></tr>
  </table>
</div>
<div id="result"></div>
