{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}
{% load urn %}
{% load staticfiles %}
{% load compress %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static "ductus/common/js/jQuery.jPlayer.2.1.0/jquery.jplayer.js" %}"></script>
<script type="text/javascript" src="{% static "ductus/common/js/audio_player.js" %}"></script>
{% endcompress %}
<script type="text/javascript">
var resource_json = {{ request.ductus.resource|resource_json }};
var available_audio_formats = {{ available_audio_formats|jsonize }};
$(function () {
    jplayer_play(resource_json);
    $(".jp-play").button({icons: {primary: 'ui-icon-play'}}).click(function() {
        jplayer_play(resource_json);
    });
});
</script>
{% endblock %}

{% block content %}
{% with request.ductus.resource as resource %}
<div><a href="javascript:void(0)" class="jp-play">play</a></div>
{% with resource.common.licenses as licenses %}
{% include "wiki/license_list.html" %}
{% endwith %}
{% endwith %}
{% endblock %}
