{% extends "ductus_document.html" %}
{% load i18n %}
{% load jsonize %}
{% load urn %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ ductus_media_prefix }}common/js/jQuery.jPlayer.2.1.0/jquery.jplayer.min.js"></script>
<script type="text/javascript">
var resource_json = {{ request.ductus.resource|resource_json }};
var available_audio_formats = {{ available_audio_formats|jsonize }};
var filetype_map = {
    "audio/mp4": "m4a",
    "audio/ogg": "oga",
    "audio/webm": "webma"
};
$(function () {
    var filetypes = [filetype_map[resource_json.resource.blob.mime_type]];
    var media_map = {};
    media_map[filetypes[0]] = resolve_mediacache_url(resource_json);
    var available_conversions = available_audio_formats[resource_json.resource.blob.mime_type];
    if (available_conversions) {
        for (var i = 0; i < available_conversions.length; ++i) {
            var filetype = filetype_map[available_conversions[i]];
            media_map[filetype] = resolve_mediacache_url(resource_json, available_conversions[i]);
            filetypes.push(filetype);
        }
    }
    $("#ductus_audio").jPlayer({
        ready: function () {
            $(this).jPlayer("setMedia", media_map);
            // autoplay
            $(this).jPlayer("play");
        },
        swfPath: ductus_media_prefix + "common/js/jQuery.jPlayer.2.1.0",
        supplied: filetypes.join(', ')
    });
    $(".jp-play").button({icons: {primary: 'ui-icon-play'}});
});
</script>
{% endblock %}

{% block content %}
{% with request.ductus.resource as resource %}
<div id="ductus_audio"></div>
<div id="jp_interface_1"><a href="javascript:void(0)" class="jp-play">play</a></div>
{% with resource.common.licenses as licenses %}
{% include "wiki/license_list.html" %}
{% endwith %}
{% endwith %}
{% endblock %}
