{% extends "ductus_base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<p>{% blocktrans with name=userpage_user.username %}This is the user page of {{ name }}{% endblocktrans %}.
{% if pages_contributed_to %}{% trans "This user has contributed to the following pages:" %}{% endif %}</p>

<ul>
{% for page in pages_contributed_to %}
<li><a href="{{ page.get_absolute_url }}">{{ page.name }}</a></li>
{% endfor %}
</ul>

{% ifequal userpage_user user %}
<div><a href="{% url "ductus.user.views.account_settings" %}">{% trans "Edit my account settings" %}</a></div>
{% endifequal %}

{% endblock %}
